[submodule "examples"]
	path = examples
	url = ../marian-examples
[submodule "regression-tests"]
	path = regression-tests
	url = ../marian-regression-tests
[submodule "src/3rd_party/sentencepiece"]
	path = src/3rd_party/sentencepiece
	url = ../sentencepiece
	branch = add_dummy_prefix_option_on_encode
[submodule "src/3rd_party/nccl"]
	path = src/3rd_party/nccl
	url = ../nccl
[submodule "src/3rd_party/fbgemm"]
	path = src/3rd_party/fbgemm
	url = ../FBGEMM
	branch = master
[submodule "src/3rd_party/intgemm"]
	path = src/3rd_party/intgemm
	url = ../intgemm/
[submodule "src/3rd_party/simple-websocket-server"]
	path = src/3rd_party/simple-websocket-server
	url = ../Simple-WebSocket-Server
